In [2]:
a = 100
b = 200
if a<b:
    print (a)
    print (b)
    print ( 'A less than B' )
print ('Good Day')

100
200
A less than B
Good Day

In [3]:
a = 300
b = 200
if a<b:
    print (a)
    print (b)
    print ( 'A less than B' )
print ('Good Day')

Good Day

In [1]:
a = 300
b = 200
if a<b:
    print (a)
    print (b)
    print ( 'A less than B' )
print ('Good Day')

Good Day

In [8]:
a = 300
b = 200
if a<b:
    print (a)
    print (b)
    print ( '1 A less than B' )
if a>b:
    print (a)
    print (b)
    print ( '2 A Greater than B' )
print ('Good Day')

300
200
2 A Greater than B
Good Day

In [9]:
a = 300
b = 300
if a<=b:
    print (a)
    print (b)
    print ( '1 A less than B' )
if a>=b:
    print (a)
    print (b)
    print ( '2 A Greater than B' )
print ('Good Day')

300
300
1 A less than B
300
300
2 A Greater than B
Good Day

In [10]:
a = 300
b = 300
if a<=b:
    print (a)
    print (b)
    print ( '1 A less than B' )
elif a>=b:
    print (a)
    print (b)
    print ( '2 A Greater than B' )
print ('Good Day')

300
300
1 A less than B
Good Day

In [11]:
a =100
b = 100
if a>b:
    print (a,'Greater than ', b)
elif b>a:
    print (b,'Greater than',a)
else:
    print (a,'and ',b ,'are equal')

100 and  100 are equal

In [12]:
a =100
b = 100
if a>b:
    print (a,'First - Greater than ', b)
elif b>a:
    print (b,'Second - Greater than',a)
else:
    print (a,'Third and ',b ,'are equal')

100 Third and  100 are equal

In [13]:
a =100
b = 100
if a>=b:
    print (a,'First - Greater than ', b)
elif b>a:
    print (b,'Second - Greater than',a)
else:
    print (a,'Third and ',b ,'are equal')

100 First - Greater than  100

In [14]:
a =300
if a <100:
    print (a,'Less than 100')
elif (100<= a <=200):
    print (a,'is between 100 and 200')
else:
    print (a,'Greater than 200')

300 Greater than 200

In [16]:
a =40
if a <100:
    print (a,'Less than 100')
    if (50<= a <=100):
        print (a,'is between 50 and 100')
    elif (20<= a <=50):
        print (a,'is between 20 and 50')
    else:
        print (a,'is less than 20')
               
elif (20<= a <=200):
    print (a,'is between 50 and 200')
else:
    print (a,'Greater than 200')

40 Less than 100
40 is between 20 and 50

In [17]:
a = 150
b = 200
if a<b:
    print (a,'is smaller than',b)
    if 10 <= a <=100:
        print (a,'is between 10 and 100')
    elif a<10:
        print (a,'is less than 10')    
else:
    print (a,'is bigger number than',b)

150 is smaller than 200

In [ ]:
# FOR - For loop , - Add 5 numbers 
# While - Add numberes till sum reaches 100

In [19]:
input ('Enter the number ')

Enter the number 10

'10'

In [21]:
a=  input ('Enter the First  number ')
b = input ('Enter the Second number ')
print (a)
print (b)

Enter the First  number 10
Enter the Second number 20
10
20

In [23]:
a=  input ('Enter the First  number ')
b = input ('Enter the Second number ')
c = int (a) +int (b)
print (a)
print (b)
print (c)

Enter the First  number 10
Enter the Second number 20
10
20
30

In [25]:
total = 0
for i in range (5):
    no=  input ('Enter the First  number ')
    total =  total +int (no)
print ('Sum  of Five numbers ', total)

Enter the First  number 10
Enter the First  number 20
Enter the First  number 30
Enter the First  number 50
Enter the First  number 35
Sum  of Five numbers  145

In [26]:
total = 0
for i in range (5):
    no=  input ('Enter the First  number ')
    total =  total +int (no)
print ('Sum  of Five numbers ', total)

Enter the First  number 85
Enter the First  number 25
Enter the First  number 63
Enter the First  number 74
Enter the First  number 96
Sum  of Five numbers  343

In [27]:
total = 0
for sun in range (5)
    no=  input ('Enter the First  number ')
    total =  total +int (no)
print ('Sum  of Five numbers ', total)

Enter the First  number 52
Enter the First  number 12
Enter the First  number 41
Enter the First  number 23
Enter the First  number 23
Sum  of Five numbers  151

In [29]:
total = 0
while total <100:
    no=  input ('Enter the First  number ')
    total =  total +int (no)
print ('Sum  of Five numbers ', total)

Enter the First  number 50
Enter the First  number 80
Sum  of Five numbers  130

In [30]:
total = 0
while total <100:
    no=  input ('Enter the First  number ')
    total =  total +int (no)
print ('Sum  of Five numbers ', total)

Enter the First  number 150
Sum  of Five numbers  150

In [31]:
total = 0
while total <100:
    no=  input ('Enter the First  number ')
    total =  total +int (no)
print ('Sum  of Five numbers ', total)

Enter the First  number 20
Enter the First  number 14
Enter the First  number 23
Enter the First  number 10
Enter the First  number 5
Enter the First  number 6
Enter the First  number 10
Enter the First  number 12
Sum  of Five numbers  100

In [35]:
total = 0
n =5
if sun <n:
    for i in range (sun):
        no=  input ('Enter the First  number ')
        total =  total +int (no)
print ('Sum  of Five numbers ', total)

Enter the First  number 2
Enter the First  number 3
Enter the First  number 1
Enter the First  number 5
Sum  of Five numbers  11

In [36]:
total = 0
n =5
if sun <n:
    for i in range (2):
        no=  input ('Enter the First  number ')
        total =  total +int (no)
print ('Sum  of Five numbers ', total)

Enter the First  number 5
Enter the First  number 2
Sum  of Five numbers  7

In [37]:
total = 0
n =5
m=3
if sun <n:
    for i in range (m):
        no=  input ('Enter the First  number ')
        total =  total +int (no)
print ('Sum  of Five numbers ', total)

Enter the First  number 2
Enter the First  number 1
Enter the First  number 3
Sum  of Five numbers  6

In [38]:
print (sun)

4

In [39]:
sun= 10
total = 0
n =5
m=3
if sun <n:
    for i in range (m):
        no=  input ('Enter the First  number ')
        total =  total +int (no)
print ('Sum  of Five numbers ', total)

Sum  of Five numbers  0

In [40]:
a =1
while a <5:
    print ( 'The number is ',a)
    a+=1
print ('Program end')

The number is  1
The number is  2
The number is  3
The number is  4
Program end

In [41]:
x = 2
print ('Loop Start')
while x < 10:
    print (x)
    x +=1
print ('Loop End ')

Loop Start
2
3
4
5
6
7
8
9
Loop End

In [42]:
x = 2
print ('Loop Start')
while x < 10:
    print (x)
    x +=3
print ('Loop End ')

Loop Start
2
5
8
Loop End

In [43]:

A = [10,15,20,25]
for i in range (len(A)):
    print (i)
print ('Good Day')

0
1
2
3
Good Day

In [44]:
A = [10,15,20,25]
for i in A:
    print (i)
print ('Good Day')

10
15
20
25
Good Day

In [55]:
A = [2,3,1,5]
for i in A:
    for j in range (i):
        print ('i= ',i, ' ', i, 'j=',j)
print ('Good Day')

i=  2   2 j= 0
i=  2   2 j= 1
i=  3   3 j= 0
i=  3   3 j= 1
i=  3   3 j= 2
i=  1   1 j= 0
i=  5   5 j= 0
i=  5   5 j= 1
i=  5   5 j= 2
i=  5   5 j= 3
i=  5   5 j= 4
Good Day

In [56]:
 'Day' *3

'DayDayDay'

In [57]:
'Day ' *5

'Day Day Day Day Day '

In [58]:
for i in range (10):
    print ((i)*i)
    
print ('Good Day')

0
1
4
9
16
25
36
49
64
81
Good Day

In [59]:
 'Day' *0

''

In [50]:
for i in range (10):
    print (str(i)*i)
    
print ('Good Day')

1
22
333
4444
55555
666666
7777777
88888888
999999999
Good Day

In [60]:
A =  ['Pen','Pencil','Book','Toy']
B = ['School', 'College']
for i in A:
    print (i)
    for j in B:
        print('   ',j)

Pen
    School
    College
Pencil
    School
    College
Book
    School
    College
Toy
    School
    College

In [61]:
A =  ['Pen','Pencil','Book','Toy']
B = ['School', 'College']
for i in A:
    print (i)
    for j in B:
        print('   ',j)
        print('   ',j)

Pen
    School
    School
    College
    College
Pencil
    School
    School
    College
    College
Book
    School
    School
    College
    College
Toy
    School
    School
    College
    College

In [62]:
A =  ['Pen','Pencil','Book','Toy']
B = ['School', 'College']
for i in A:
    print (i)
    for j in B:
        print('   ',j)
        continue
        print('   ',j)

Pen
    School
    College
Pencil
    School
    College
Book
    School
    College
Toy
    School
    College

In [63]:
A =  ['Pen','Pencil','Book','Toy']
B = ['School', 'College']
for i in A:
    print (i)
    for j in B:
        print('   ',j)
        break
        print('   ',j)

Pen
    School
Pencil
    School
Book
    School
Toy
    School

In [64]:
A =  ['Pen','Pencil','Book','Toy']
B = ['School', 'College']
for i in A:
    print (i)
    continue
    for j in B:
        print('   ',j)      
        print('   ',j)

Pen
Pencil
Book
Toy

In [65]:
A =  ['Pen','Pencil','Book','Toy']
B = ['School', 'College']
for i in A:
    print (i)
    break
    for j in B:
        print('   ',j)      
        print('   ',j)

Pen

In [69]:
A =  ['Pen','Pencil','Book','Toy']
B = ['School', 'College']
for i in A:
    pass
    print (A)
    print (B)

['Pen', 'Pencil', 'Book', 'Toy']
['School', 'College']
['Pen', 'Pencil', 'Book', 'Toy']
['School', 'College']
['Pen', 'Pencil', 'Book', 'Toy']
['School', 'College']
['Pen', 'Pencil', 'Book', 'Toy']
['School', 'College']

In [72]:
def sales ():
    qty = 5
    price = 50
    total = qty * price 
    print ('Total Cost ',total)

In [74]:
sales ()

Total Cost  250

In [75]:
sales ()

Total Cost  250

In [76]:
sales ()

Total Cost  250

In [78]:
def sales (qty):    
    price = 50
    total = qty * price 
    print ('Total Cost ',total)

In [80]:
sales (5)

Total Cost  250

In [81]:
sales (3)

Total Cost  150

In [82]:
sales (10)

Total Cost  500

In [83]:
def sales (qty, price ):    
    total = qty * price 
    print ('Total Cost ',total)

In [84]:
sales (10,75)

Total Cost  750

In [85]:
sales (2,40)

Total Cost  80

In [86]:
def sales (qty, price= 50 ):    
    total = qty * price 
    print ('Total Cost ',total)

In [87]:
sales (20)

Total Cost  1000

In [88]:
sales (3)

Total Cost  150

In [89]:
sales (3,75)

Total Cost  225

In [90]:
def sales (qty =5, price= 50 ):    
    total = qty * price 
    print ('Total Cost ',total)

In [91]:
sales ()

Total Cost  250

In [92]:
sales (4)

Total Cost  200

In [93]:
sales (3,100)

Total Cost  300

In [94]:
def sales (qty =5, price= 50 ):    
    total = qty * price 
    print ('Total Cost ',total)

In [95]:
sales (price =100)

Total Cost  500

In [96]:
sales (price =100, qty = 60)

Total Cost  6000

In [97]:
s1= sales (price =100, qty = 60)

Total Cost  6000

In [98]:
print (s1)

None

In [99]:
def sales (qty =5, price= 50 ):    
    total = qty * price 
    print ('Total Cost ',total)
    return (total)

In [100]:
s1= sales (price =100, qty = 60)

Total Cost  6000

In [101]:
print (s1)

6000

In [102]:
s2 =sales()
print (s2)

Total Cost  250
250

In [103]:
print (s1)

6000

In [104]:
print (s2)

250

In [105]:
def sales (qty =5, price= 50 ):    
    total = qty * price 
    print ('Total Cost ',total)
    return (total)

In [108]:
s=[]
s.append (sales ())
print (s)

Total Cost  250
[250]

In [109]:
s.append (sales (10))
print (s)

Total Cost  500
[250, 500]

In [110]:
s.append (sales (5,75))
print (s)

Total Cost  375
[250, 500, 375]

In [111]:
print (s)

[250, 500, 375]

In [112]:
def f1(day1, day2 ):    
    print (day1+day2)

In [113]:
f1 ('Mon', 'Tue')

MonTue

In [114]:
def f1(day1 ):    
    print (day1)

In [115]:
f1 ([10,20,30])

[10, 20, 30]

In [117]:
def financials (revenue,expenses):
    """ This function is used to calculate profit and profit ratio"""
    profit = revenue -expenses
    profit_ratio = profit/revenue 
    new_financials = (profit ,profit_ratio)
    return (new_financials)

In [118]:
financials (1000,900)

(100, 0.1)

In [119]:
x = financials (1000,900)
print (x)

(100, 0.1)

In [120]:
print ('Profit ', x[0] )
print ('Profit Ratio ', x[1] )

Profit  100
Profit Ratio  0.1

In [122]:
def convertto (deg):
    F= (deg*9/5)+32
    return (F)

In [123]:
convertto (38)

100.4

In [126]:
convertto (20)

68.0

In [125]:
def convertto (deg):
    F= (deg*9/5)+32
    return (F)

In [127]:
temp = 38
temp= convertto (temp)
print (temp)

100.4

In [128]:
def financials (revenue,expenses):
    """ This function is used to calculate profit and profit ratio"""
    profit = revenue -expenses
    profit_ratio = profit/revenue 
    new_financials = [profit ,profit_ratio]
    return (new_financials)

In [129]:
x = financials (1000,900)
print (x)

[100, 0.1]

In [130]:
print (type(x))

<class 'list'>

In [131]:
list1 = [10,20,30,40,50,60,70]
list1

[10, 20, 30, 40, 50, 60, 70]

In [132]:
list1 = [10,20,30,40,50,60,70, 'Sat', ]
list1

[10, 20, 30, 40, 50, 60, 70, 'Sat']

In [133]:
list1 = [10,20,30,40,True ,50,60,70, 'Sat', ]
list1

[10, 20, 30, 40, True, 50, 60, 70, 'Sat']

In [135]:
list1 = [10,20,30,40,True ,50,[10,20,30],60,70, 'Sat', ]
list1

[10, 20, 30, 40, True, 50, [10, 20, 30], 60, 70, 'Sat']

In [136]:
len (list1)

10

In [137]:
list1 = [10,20,30,40,50,60,70]
print (list1[1])

20

In [138]:
print (list1[0:3])

[10, 20, 30]

In [139]:
print (list1[-1])

70

In [140]:
print (list1[-4])

40

In [142]:
list1 = [10,20,30,40,50,60,70]

In [143]:
print (list1[-4 : -2])

[40, 50]

In [144]:
print (list1[-4 : ])

[40, 50, 60, 70]

In [145]:
list1

[10, 20, 30, 40, 50, 60, 70]

In [146]:
list2 = [100,110,120]
list2

[100, 110, 120]

In [147]:
print (list1+list2+[50,51,52])

[10, 20, 30, 40, 50, 60, 70, 100, 110, 120, 50, 51, 52]

In [149]:
list2

[100, 110, 120]

In [150]:
print (list2 * 3)

[100, 110, 120, 100, 110, 120, 100, 110, 120]

In [151]:
print (150 in list2)

False

In [152]:
list2

[100, 110, 120]

In [153]:
print (100 in list2)

True

In [154]:
l1 = [10,20,30,40,50]

In [155]:
l1 = [10,20,30,40,50]
del (l1)
print (l1)

NameError: name 'l1' is not defined

In [156]:
l1 = [10,20,30,40,50]
del (l1[1])
print (l1)

[10, 30, 40, 50]

In [157]:
l1 = [10,20,30,40,50]
del (l1[1:3])
print (l1)

[10, 40, 50]

In [158]:
l1 = [10,20,30,40,50]
del (l1[:])
print (l1)

[]

In [159]:
l1 = [10,20,30,40,50]
l1.clear()
print (l1)

[]

In [161]:
l1 = [10,20,30,40,50]
l1.remove (20)
print (l1)

[10, 30, 40, 50]

In [163]:
l1 = [10,20,30,40,50]
m = l1.pop (2)
print (l1)
print (m)

[10, 20, 40, 50]
30

In [164]:
m

30

In [166]:
l1 = [10,20,30,40,50]
l1.append (10)
print (l1)

[10, 20, 30, 40, 50, 10]

In [168]:
l1.append ([10,20])
print (l1)

[10, 20, 30, 40, 50, 10, [10, 20]]

In [170]:
l1 = [10,20,30,40,50]
l1.insert  (0, 55)
print (l1)

[55, 10, 20, 30, 40, 50]

In [171]:
l1.insert  (0, 55)
print (l1)

[55, 55, 10, 20, 30, 40, 50]

In [173]:
l1 = [10,20,30,40,50]
l1.extend ([20,21,22])
print (l1)

[10, 20, 30, 40, 50, 20, 21, 22]

In [174]:
list1 = []
for x in [1,2,3,4,5]:
    list1.append (x * 2)
print (list1)

[2, 4, 6, 8, 10]

In [175]:
[x * 2 for x in [1,2,3,4,5]]

[2, 4, 6, 8, 10]

In [176]:
list1 = ['Rick','Jim','Mark','Jack','Ken']
list2 = sorted (list1)
print (list1)
print (list2)

['Rick', 'Jim', 'Mark', 'Jack', 'Ken']
['Jack', 'Jim', 'Ken', 'Mark', 'Rick']

In [177]:
list1 = ['Rick','Jim','ann','Mark','Jack','Ken']
list2 = sorted (list1)
print (list1)
print (list2)

['Rick', 'Jim', 'ann', 'Mark', 'Jack', 'Ken']
['Jack', 'Jim', 'Ken', 'Mark', 'Rick', 'ann']

In [178]:
list1 = ['Rick','Jim','Mark','10','50','60','Jack','jack','Ken']
list2 = sorted (list1)
print (list1)
print (list2)

['Rick', 'Jim', 'Mark', '10', '50', '60', 'Jack', 'jack', 'Ken']
['10', '50', '60', 'Jack', 'Jim', 'Ken', 'Mark', 'Rick', 'jack']

In [179]:
list1 = ['Rick','Jim','Mark','10','50',500,'60','Jack','jack','Ken']
list2 = sorted (list1)
print (list1)
print (list2)

TypeError: '<' not supported between instances of 'int' and 'str'

In [182]:
print ([x * 2 for x in [1,2,3,4,5]])

[2, 4, 6, 8, 10]

In [185]:
a =50
b =60

In [187]:
print (a)
print (b)

50
60

In [188]:
list1 = ['AABC','ABC','AAAA']
list2 = sorted (list1)
print (list1)
print (list2)

['AABC', 'ABC', 'AAAA']
['AAAA', 'AABC', 'ABC']

In [189]:
list1 = ['AABC','A5BC','AAAA']
list2 = sorted (list1)
print (list1)
print (list2)

['AABC', 'A5BC', 'AAAA']
['A5BC', 'AAAA', 'AABC']

In [190]:
x = [10,20,30,15,12,40,22,12]
print (sorted(x)) # Sorted order
sortx= sorted(x)
print (x) # No change to original list
print (sortx)

[10, 12, 12, 15, 20, 22, 30, 40]
[10, 20, 30, 15, 12, 40, 22, 12]
[10, 12, 12, 15, 20, 22, 30, 40]

In [191]:
print (x)

[10, 20, 30, 15, 12, 40, 22, 12]

In [192]:
x = [10,20,30,15,12,40,22,12]
print (x.sort()) # Return None 
sortx= x.sort() # Not able to assign 
print (x) # x Sorted 
print (sortx)

None
[10, 12, 12, 15, 20, 22, 30, 40]
None

In [193]:
print (x)

[10, 12, 12, 15, 20, 22, 30, 40]

In [195]:
x = [10,20,30,15,12,40,22,12]
x

[10, 20, 30, 15, 12, 40, 22, 12]

In [196]:
print (x[::-1])

[12, 22, 40, 12, 15, 30, 20, 10]

In [197]:
print (x[4:2:-1])

[12, 15]

In [198]:
print (x)

[10, 20, 30, 15, 12, 40, 22, 12]

In [199]:
print (x[4:2:-1])

[12, 15]

In [201]:
nums = [23, 22, 44, 17, 77, 55, 1, 65, 82, 2]
num_min = min(nums)
num_min

1

In [202]:
nums = [23, 22, 44, 17, 77, 55, 1, 65, 82, 2]
num_min = max(nums)
num_min

82

In [203]:
nums = [23, 22, 44, 17, 77, 55, 1, 65, 82, 2]
num_min = sum(nums)
num_min

388

In [204]:
colors = ['Red', 'Blue', 'Green', 'Black', 'White']
copy_of_colors = colors[:]
print (copy_of_colors)

['Red', 'Blue', 'Green', 'Black', 'White']

In [205]:
id (colors)

1999765719744

In [206]:
id (copy_of_colors )

1999765420992

In [207]:
squr = []
for x in range(1, 11):
    sq= x**2
    squr.append(sq)
    
print (squr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [208]:
squr = [x**2 for x in range(1, 11)]
print (squr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [210]:
colors = ['Red', 'Blue', 'Green', 'Black', 'White']
upper_cols = []
for cols in colors:
    upper_cols.append(cols.upper())
upper_cols

['RED', 'BLUE', 'GREEN', 'BLACK', 'WHITE']

In [211]:
colors = ['Red', 'Blue', 'Green', 'Black', 'White']
upper_cols = []
for cols in colors:
    upper_cols.append(cols.lower())
upper_cols

['red', 'blue', 'green', 'black', 'white']

In [212]:
import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.9.15 (main, Nov 24 2022, 14:39:17) [MSC v.1916 64 bit (AMD64)]
Version info.
sys.version_info(major=3, minor=9, micro=15, releaselevel='final', serial=0)

In [213]:
dir (sys)

['__breakpointhook__',
 '__displayhook__',
 '__doc__',
 '__excepthook__',
 '__interactivehook__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__stderr__',
 '__stdin__',
 '__stdout__',
 '__unraisablehook__',
 '_base_executable',
 '_clear_type_cache',
 '_current_frames',
 '_debugmallocstats',
 '_enablelegacywindowsfsencoding',
 '_framework',
 '_getframe',
 '_git',
 '_home',
 '_xoptions',
 'addaudithook',
 'api_version',
 'argv',
 'audit',
 'base_exec_prefix',
 'base_prefix',
 'breakpointhook',
 'builtin_module_names',
 'byteorder',
 'call_tracing',
 'copyright',
 'displayhook',
 'dllhandle',
 'dont_write_bytecode',
 'exc_info',
 'excepthook',
 'exec_prefix',
 'executable',
 'exit',
 'flags',
 'float_info',
 'float_repr_style',
 'get_asyncgen_hooks',
 'get_coroutine_origin_tracking_depth',
 'get_int_max_str_digits',
 'getallocatedblocks',
 'getdefaultencoding',
 'getfilesystemencodeerrors',
 'getfilesystemencoding',
 'getprofile',
 'getrecursionlimit',
 'getrefcount',
 'getsizeof',
 'getswitchinterval',
 'gettrace',
 'getwindowsversion',
 'hash_info',
 'hexversion',
 'implementation',
 'int_info',
 'intern',
 'is_finalizing',
 'last_traceback',
 'last_type',
 'last_value',
 'maxsize',
 'maxunicode',
 'meta_path',
 'modules',
 'path',
 'path_hooks',
 'path_importer_cache',
 'platform',
 'platlibdir',
 'prefix',
 'ps1',
 'ps2',
 'ps3',
 'pycache_prefix',
 'set_asyncgen_hooks',
 'set_coroutine_origin_tracking_depth',
 'set_int_max_str_digits',
 'setprofile',
 'setrecursionlimit',
 'setswitchinterval',
 'settrace',
 'stderr',
 'stdin',
 'stdout',
 'thread_info',
 'unraisablehook',
 'version',
 'version_info',
 'warnoptions',
 'winver']

In [214]:
import datetime
x = datetime.datetime.now()
print(x)

2022-12-11 21:05:07.304724

In [216]:
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%B-%d %H:%M:%S"))

Current date and time :
2022-December-11 21:05:51